<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A0687601E8DE1C00077F2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0687791E8DE1C10077F2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0687841E8DE1C10077F2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
